<h2>Add a new class</h2>

<form action="/fitness_classes" method="POST">

  <input type="text" id="name" name="name" placeholder="Class Name">

  <br></br>

  <input type="date" id="date" name="date" placeholder="Date">

  <br></br>

  <input type="time" id="time" name="time" placeholder="Time">

  <br></br>

  <input type="text" id="location" name="location" placeholder="Location">

  <br></br>

  <input type="submit" value="Add class">

  <br></br>

  <a href="/fitness_classes">View all your classes</a>

  <br></br>

  <a href="/logout">Log out</a>

</form>
